




.App{
  width: 90%;
  margin: auto;
}

.App h1, h4{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.country-blocks{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.cart-wrap{
  text-align: center;
  margin-bottom: 2%;
}










@media(max-width: 900px){
  .country-blocks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 700px){
  .country-blocks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}



@media(max-width: 500px){
  .country-blocks{
    display: grid;
    grid-template-columns: 1fr;
  }
}


